.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__left {
  flex: 0.3;
}

.header__middle {
  flex: 0.4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 999px;
  border: 1px solid lightgray;
}

.header__middle > input {
  width: 100%;
  border: none;
  font-size: 16px;
  margin-right: 20px;
  outline: none;
}

.header__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 40px;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 10px;
}
